In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
from datetime import date
from datetime import timedelta
import time
%matplotlib inline
from pathlib import Path

In [44]:
#Specify Data folder
data_folder = Path("C:/Users/joses/Nextcloud/JOSEPH/COVID19INDIAORG ANALYSIS/PYTHON APPROACH/PYTHON CODE/data/raw data")
#Compute complete filepath for the day
file_path = data_folder / "raw_data1&2.csv"
#Read file to data frame
df=pd.read_csv(file_path)

In [16]:
df.head()

,Patient Number,State Patient Number,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,Current Status,Notes,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes
0,1,KL-TS-P1,30-01-2020,20,F,Thrissur,Thrissur,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14-02-2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan
1,2,KL-AL-P1,02-02-2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14-02-2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan
2,3,KL-KS-P1,03-02-2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14-02-2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan
3,4,DL-P1,02-03-2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,Recovered,"Travelled from Austria, Italy",NaN,India,Imported,15-03-2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria
4,5,TS-P1,02-03-2020,24,M,Hyderabad,Hyderabad,Telangana,TG,Recovered,"Travelled from Dubai to Bangalore on 20th Feb,...",NaN,India,Imported,02-03-2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,"Travel history to Dubai, Singapore contact"

In [37]:
df.drop(['Current Status'], axis = 1, inplace=True)
df.insert(9, column='Current Status', value="Hospitalized")

In [50]:
df.insert(9, column='Num Cases', value=1)
df.head()

,Entry_ID,State Patient Number,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,Num Cases,Current Status,Notes,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes
0,1,KL-TS-P1,30-01-2020,20,F,Thrissur,Thrissur,Kerala,KL,1,Recovered,Travelled from Wuhan,NaN,India,Imported,14-02-2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan
1,2,KL-AL-P1,02-02-2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,1,Recovered,Travelled from Wuhan,NaN,India,Imported,14-02-2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan
2,3,KL-KS-P1,03-02-2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,1,Recovered,Travelled from Wuhan,NaN,India,Imported,14-02-2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan
3,4,DL-P1,02-03-2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,1,Recovered,"Travelled from Austria, Italy",NaN,India,Imported,15-03-2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria
4,5,TS-P1,02-03-2020,24,M,Hyderabad,Hyderabad,Telangana,TG,1,Recovered,"Travelled from Dubai to Bangalore on 20th Feb,...",NaN,India,Imported,02-03-2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,"Travel history to Dubai, Singapore contact"

In [41]:
df.tail()

,Patient Number,State Patient Number,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,Num Cases,Current Status,Notes,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes
27885,27887,NaN,26-04-2020,NaN,NaN,NaN,NaN,Delhi,DL,1,Hospitalized,Details awaited,NaN,NaN,NaN,26-04-2020,https://twitter.com/ANI/status/125445350902774...,NaN,NaN,NaN
27886,27888,NaN,26-04-2020,NaN,NaN,NaN,NaN,Uttarakhand,UT,1,Hospitalized,Details awaited,NaN,NaN,NaN,26-04-2020,https://t.me/indiacovid/3303,NaN,NaN,NaN
27887,27889,NaN,26-04-2020,12,F,NaN,Munger,Bihar,BR,1,Hospitalized,Details awaited,NaN,NaN,NaN,26-04-2020,https://twitter.com/sanjayjavin/status/1254467...,NaN,NaN,NaN
27888,27890,NaN,26-04-2020,13,F,NaN,Munger,Bihar,BR,1,Hospitalized,Details awaited,NaN,NaN,NaN,26-04-2020,https://twitter.com/sanjayjavin/status/1254467...,NaN,NaN,NaN
27889,27891,NaN,26-04-2020,17,F,NaN,Munger,Bihar,BR,1,Hospitalized,Details awaited,NaN,NaN,NaN,26-04-2020,https://twitter.com/sanjayjavin/status/1254467...,NaN,NaN,NaN

In [49]:
df.rename(columns={'Patient Number':'Entry_ID'}, inplace=True)
df.head()

,Entry_ID,State Patient Number,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,Current Status,Notes,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes
0,1,KL-TS-P1,30-01-2020,20,F,Thrissur,Thrissur,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14-02-2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan
1,2,KL-AL-P1,02-02-2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14-02-2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan
2,3,KL-KS-P1,03-02-2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,Recovered,Travelled from Wuhan,NaN,India,Imported,14-02-2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan
3,4,DL-P1,02-03-2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,Recovered,"Travelled from Austria, Italy",NaN,India,Imported,15-03-2020,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,NaN,Travel history to Italy and Austria
4,5,TS-P1,02-03-2020,24,M,Hyderabad,Hyderabad,Telangana,TG,Recovered,"Travelled from Dubai to Bangalore on 20th Feb,...",NaN,India,Imported,02-03-2020,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,"Travel history to Dubai, Singapore contact"

In [52]:
df.tail()

,Entry_ID,State Patient Number,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,Num Cases,Current Status,Notes,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes
27885,27887,NaN,26-04-2020,NaN,NaN,NaN,NaN,Delhi,DL,1,Hospitalized,Details awaited,NaN,NaN,NaN,26-04-2020,https://twitter.com/ANI/status/125445350902774...,NaN,NaN,NaN
27886,27888,NaN,26-04-2020,NaN,NaN,NaN,NaN,Uttarakhand,UT,1,Hospitalized,Details awaited,NaN,NaN,NaN,26-04-2020,https://t.me/indiacovid/3303,NaN,NaN,NaN
27887,27889,NaN,26-04-2020,12,F,NaN,Munger,Bihar,BR,1,Hospitalized,Details awaited,NaN,NaN,NaN,26-04-2020,https://twitter.com/sanjayjavin/status/1254467...,NaN,NaN,NaN
27888,27890,NaN,26-04-2020,13,F,NaN,Munger,Bihar,BR,1,Hospitalized,Details awaited,NaN,NaN,NaN,26-04-2020,https://twitter.com/sanjayjavin/status/1254467...,NaN,NaN,NaN
27889,27891,NaN,26-04-2020,17,F,NaN,Munger,Bihar,BR,1,Hospitalized,Details awaited,NaN,NaN,NaN,26-04-2020,https://twitter.com/sanjayjavin/status/1254467...,NaN,NaN,NaN

In [46]:
file_path2 = data_folder / "raw_data3.csv"
#Read file to data frame
df2=pd.read_csv(file_path2)
df2.head()

,Entry_ID,State Patient Number,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,Num Cases,Current Status,Contracted from which Patient (Suspected),Notes,Source_1,Source_2,Source_3,Nationality,Type of transmission,Status Change Date
0,1.0,NaN,27/04/2020,NaN,NaN,NaN,NaN,West Bengal,WB,38,Hospitalized,NaN,Details awaited,mohfw.gov.in,NaN,NaN,NaN,NaN,NaN
1,2.0,NaN,27/04/2020,NaN,NaN,NaN,Bhilwara,Rajasthan,RJ,2,Hospitalized,NaN,Details awaited,https://twitter.com/ANI/status/125461859651442...,NaN,NaN,NaN,NaN,NaN
2,3.0,NaN,27/04/2020,NaN,NaN,NaN,Jaipur,Rajasthan,RJ,9,Hospitalized,NaN,Details awaited,https://twitter.com/ANI/status/125461859651442...,NaN,NaN,NaN,NaN,NaN
3,4.0,NaN,27/04/2020,28.0,M,Surajpol,Jaipur,Rajasthan,RJ,1,Deceased,NaN,Details awaited,https://twitter.com/ANI/status/125461859651442...,NaN,NaN,NaN,NaN,NaN
4,5.0,NaN,27/04/2020,NaN,NaN,NaN,Jaisalmer,Rajasthan,RJ,1,Hospitalized,NaN,Details awaited,https://twitter.com/ANI/status/125461859651442...,NaN,NaN,NaN,NaN,NaN

In [53]:
df.drop(['State Patient Number', 'Contracted from which Patient (Suspected)', 'Backup Notes', 'Source_1', 'Source_2', 'Source_3', 'Type of transmission'], axis = 1, inplace=True)

In [56]:
df.drop(['Notes'], axis=1, inplace=True)
df.head()

,Entry_ID,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,Num Cases,Current Status,Nationality,Status Change Date
0,1,30-01-2020,20,F,Thrissur,Thrissur,Kerala,KL,1,Recovered,India,14-02-2020
1,2,02-02-2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,1,Recovered,India,14-02-2020
2,3,03-02-2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,1,Recovered,India,14-02-2020
3,4,02-03-2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,1,Recovered,India,15-03-2020
4,5,02-03-2020,24,M,Hyderabad,Hyderabad,Telangana,TG,1,Recovered,India,02-03-2020

In [55]:
df2.drop(['State Patient Number', 'Contracted from which Patient (Suspected)', 'Notes', 'Source_1', 'Source_2', 'Source_3', 'Type of transmission'], axis = 1, inplace=True)
df2.head()

,Entry_ID,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,Num Cases,Current Status,Nationality,Status Change Date
0,1.0,27/04/2020,NaN,NaN,NaN,NaN,West Bengal,WB,38,Hospitalized,NaN,NaN
1,2.0,27/04/2020,NaN,NaN,NaN,Bhilwara,Rajasthan,RJ,2,Hospitalized,NaN,NaN
2,3.0,27/04/2020,NaN,NaN,NaN,Jaipur,Rajasthan,RJ,9,Hospitalized,NaN,NaN
3,4.0,27/04/2020,28.0,M,Surajpol,Jaipur,Rajasthan,RJ,1,Deceased,NaN,NaN
4,5.0,27/04/2020,NaN,NaN,NaN,Jaisalmer,Rajasthan,RJ,1,Hospitalized,NaN,NaN

In [57]:
frames=[df, df2]
df3=pd.concat(frames)
df3.head()

,Entry_ID,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,Num Cases,Current Status,Nationality,Status Change Date
0,1.0,30-01-2020,20,F,Thrissur,Thrissur,Kerala,KL,1,Recovered,India,14-02-2020
1,2.0,02-02-2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,1,Recovered,India,14-02-2020
2,3.0,03-02-2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,1,Recovered,India,14-02-2020
3,4.0,02-03-2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,DL,1,Recovered,India,15-03-2020
4,5.0,02-03-2020,24,M,Hyderabad,Hyderabad,Telangana,TG,1,Recovered,India,02-03-2020

In [58]:
df3.tail()

,Entry_ID,Date Announced,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,Num Cases,Current Status,Nationality,Status Change Date
3300,3301.0,03/05/2020,NaN,NaN,NaN,Jhunjhunu,Rajasthan,RJ,1,Recovered,NaN,NaN
3301,3302.0,03/05/2020,NaN,NaN,NaN,Nagaur,Rajasthan,RJ,3,Recovered,NaN,NaN
3302,3303.0,03/05/2020,NaN,NaN,NaN,Jaipur,Rajasthan,RJ,2,Deceased,NaN,NaN
3303,3304.0,03/05/2020,34,M,NaN,Balasore,Odisha,OR,1,Hospitalized,NaN,NaN
3304,NaN,NaN,NaN,NaN,NaN,NaN,Haryana,HR,45,Hospitalized,NaN,NaN

In [59]:
df3.describe()

           Entry_ID     Num Cases
count  31194.000000  31195.000000
mean   12644.206290      1.438147
std     8507.055105      8.953599
min        1.000000    -27.000000
25%     4496.250000      1.000000
50%    12294.500000      1.000000
75%    20092.750000      1.000000
max    27891.000000    751.000000

In [60]:
#Specify Export folder 
export_folder =Path("C:/Users/joses/Nextcloud/JOSEPH/COVID19INDIAORG ANALYSIS/PYTHON APPROACH/PYTHON CODE/exports")
fname="raw_data.csv"
file_path3= export_folder / fname
file_path3

WindowsPath('C:/Users/joses/Nextcloud/JOSEPH/COVID19INDIAORG ANALYSIS/PYTHON APPROACH/PYTHON CODE/exports/raw_data.csv')

In [61]:
df3.to_csv(file_path3)